body {
    font-family: 'Arial', sans-serif;
    background-color: #FAF0E6; /* Linen background */
    color: #191970; /* Midnight blue text */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #191970; /* Midnight blue background */
    color: #FAF0E6; /* Linen text */
    border-bottom: 1px solid #ddd;
}

main {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 20px;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.chart {
    width: 50%;
    max-width: 400px;
    margin: 20px;
}

.chart-values {
    width: 50%;
    max-width: 400px;
    margin: 20px;
}

#pieChartValues {
    list-style-type: none;
    padding: 0;
}

#pieChartValues li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#pieChartValues span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 8px;
}

#numberList {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#numberList li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #191970; /* Midnight blue background */
    color: #FAF0E6; /* Linen text */
    border-top: 1px solid #ddd;
}