<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}"">
    <script src="{{ url_for('static', filename='js/landing.js') }}" defer></script>
</head>
<body>
    <header>
        <h1>LiftUp Budgeting</h1>
    </header>
    <main>
        <div class="logo-container" id="logoContainer">
            <img src="{{ url_for('static', filename='png/logo-png.png') }}" alt="Logo" class="logo">
        </div>
        <div class="button-container" id="buttonContainer">
            <button onclick="showSignInForm()">Sign In</button>
        </div>
        <div id="signInFormContainer" style="display: none;">
            <!-- Sign-in form will be inserted here -->
             
        </div>
    </main>
    <footer>
        <p>&copy; 2025 team JISH</p>
    </footer>
</body>
</html>